[Unit]
Description=Sistema de Etiquetas - LCD
After=multi-user.target
Wants=multi-user.target

[Service]
Type=simple
ExecStart=/home/pi/etiq/start_etiq.sh
StandardOutput=append:/home/pi/etiq/log.txt
StandardError=append:/home/pi/etiq/log.txt
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
